Repository BHoM/BHoM_Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @al-fisher, @rwemay, @adecler, @IsakNaslundBh, @FraserGreenroyd, @epignatelli, @alelom, @tg359, @pawelbaran, @kayleighhoude

Update CI for upstream breaking changes
  .ci/CloneTest.ps1
Owners: @al-fisher, @rwemay, @adecler

Update CI for upstream breaking changes
  .ci/CloneTest.ps1
Owners: @al-fisher, @rwemay, @adecler

Update CI files to protect Test Toolkit building against problems caused by dependency chains
  .ci/CloneTest.ps1
  .ci/run-compliance-tests.yml
Owners: @al-fisher, @rwemay, @adecler

Update compliance check file
  .ci/BuildTest.ps1
  .ci/run-compliance-tests.yml
Owners: @al-fisher, @rwemay, @adecler

Update compliance check file
  .ci/BuildTest.ps1
Owners: @al-fisher, @rwemay, @adecler

Update compliance check file
  .ci/BuildTest.ps1
Owners: @al-fisher, @rwemay, @adecler

Update CI files to protect Test Toolkit building against problems caused by dependency chains
  .ci/CloneTest.ps1
  .ci/run-compliance-tests.yml
Owners: @al-fisher, @rwemay, @adecler

Update compliance check file
  .ci/BuildTest.ps1
  .ci/run-compliance-tests.yml
Owners: @al-fisher, @rwemay, @adecler

Create methods for LogicalAnd and LogicalOr requests added
  Data_Engine/Create/LogicalAndRequest.cs
  Data_Engine/Create/LogicalOrRequest.cs
  Data_Engine/Data_Engine.csproj
Owners: @adecler, @epignatelli

Grabbing descriptions of properties for Create methods
  Reflection_Engine/Query/Description.cs
Owners: @adecler, @FraserGreenroyd, @al-fisher

SLightly tweaked order of text for type descriptions
  Reflection_Engine/Query/Description.cs
Owners: @adecler, @FraserGreenroyd, @al-fisher

Create Volume
  Physical_Engine/Query/Volume.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd

.github/CODEOWNERS:

# BHoM_Engine REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler


# project owners 

#NEED OWNER: /Acoustic_Engine
/Analytical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
#NEED OWNER: /Architecture_Engine
/BHoM_Engine @adecler @al-fisher
/Common_Engine @al-fisher @rwemay
/Data_Engine @adecler @epignatelli
/Diffing_Engine @alelom @al-fisher @adecler
/Environment_Engine @FraserGreenroyd @tg359
/Geometry_Engine @pawelbaran @al-fisher @epignatelli
/Humans_Engine @al-fisher @rwemay
/Library_Engine @adecler @IsakNaslundBh
/MEP_Engine @kayleighhoude @FraserGreenroyd
/Physical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
/Planning_Engine @rwemay @al-fisher
/Programming_Engine @adecler @FraserGreenroyd @al-fisher
/Reflection_Engine @adecler @FraserGreenroyd @al-fisher
/Results_Engine @IsakNaslundBh @FraserGreenroyd @rwemay
#NEED OWNER: /SVG_Engine
/Serialiser_Engine @adecler @FraserGreenroyd
#NEED OWNER: /Speech_Engine
/Structure_Engine @IsakNaslundBh @rwemay
