Repository BHoM/BHoM_Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd, @IsakNaslundBh, @alelom, @tg359, @jamesramsden-bh, @pawelbaran, @peterjamesnugent, @kayleighhoude, @travispotterBH

.github/CODEOWNERS:

# BHoM_Engine REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler @FraserGreenroyd


# project owners 

#NEED OWNER: /Acoustic_Engine
/Analytical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
#NEED OWNER: /Architecture_Engine
/BHoM_Engine @adecler @al-fisher @FraserGreenroyd
/Data_Engine @adecler @IsakNaslundBh
/Diffing_Engine @alelom @al-fisher @adecler
/Environment_Engine @FraserGreenroyd @tg359 @jamesramsden-bh
/Geometry_Engine @pawelbaran @al-fisher @IsakNaslundBh
/Ground_Engine @peterjamesnugent @IsakNaslundBh @FraserGreenroyd
/Humans_Engine @al-fisher @rwemay
/Library_Engine @adecler @IsakNaslundBh
/Matter_Engine @al-fisher @IsakNaslundBh @pawelbaran
/MEP_Engine @kayleighhoude @FraserGreenroyd @travispotterBH
/Physical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
/Planning_Engine @rwemay @al-fisher
/Programming_Engine @adecler @FraserGreenroyd @al-fisher
/Reflection_Engine @adecler @FraserGreenroyd @al-fisher
/Results_Engine @IsakNaslundBh @FraserGreenroyd @rwemay
#NEED OWNER: /SVG_Engine
/Serialiser_Engine @adecler @FraserGreenroyd
/Settings_Engine @FraserGreenroyd @adecler
/Spatial_Engine @al-fisher @IsakNaslundBh @pawelbaran
#NEED OWNER: /Speech_Engine
/Structure_Engine @IsakNaslundBh @rwemay
/Versioning_Engine @adecler @FraserGreenroyd @IsakNaslundBh

fix Structure_Engine compile
  Structure_Engine/Convert/FEMeshToPanel.cs
  Structure_Engine/Create/Loads/Load.cs
Owners: @IsakNaslundBh, @rwemay

fix versioning
  Architecture_Engine/Versioning_71.json
Owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd

replaced \ with /
  BHoM_Engine/Query/BHoMFolder.cs
Owners: @adecler, @al-fisher, @FraserGreenroyd

changed description for create CircleProfile
  Spatial_Engine/Create/ShapeProfiles/CircleProfile.cs
Owners: @al-fisher, @IsakNaslundBh, @pawelbaran

Make use of Physical_Engine methods (similar to what has been done for the Bar
  Structure_Engine/Query/Mass.cs
Owners: @IsakNaslundBh, @rwemay

Remove commented text
  Structure_Engine/Query/Mass.cs
Owners: @IsakNaslundBh, @rwemay

adding openings from glazing ratio
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

minor change to logic, throw warning when openings are null, and changed some input descriptions
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

some other description changes
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

minor style changes
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Add unit tests for Bar and Panels with ReinforcementDensity fragments
  .ci/Datasets/Structure_Engine/Query/Mass.json
Owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd

GeometryHash single value initial implementation
  BHoM_Engine/Query/GeometryHash.cs
  BHoM_Engine/Query/Hash.cs
  Geometry_Engine/Query/GeometryHash.cs
Owners: @adecler, @al-fisher, @FraserGreenroyd, @pawelbaran, @IsakNaslundBh

Create HasValue.cs
  Geometry_Engine/Query/HasValue.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

removed filtering panels by walls
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Documentation alignments to https://github.com/BHoM/BHoM/pull/1579
  BHoM_Engine/Modify/PropertyNamesToFullNames.cs
  BHoM_Engine/Query/Hash.cs
Owners: @adecler, @al-fisher, @FraserGreenroyd

Base_Engine: remove GeometryHash
  BHoM_Engine/Query/GeometryHash.cs
  BHoM_Engine/Query/Hash.cs
Owners: @adecler, @al-fisher, @FraserGreenroyd

Geometry_Engine: remove GeomHash extension call
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Revert a few changes to limit scope.
  BHoM_Engine/Query/Hash.cs
Owners: @adecler, @al-fisher, @FraserGreenroyd

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Update Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

added method separators
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

fix copyright header (poor BHoMBot)
  Environment_Engine/Compute/OpeningsFromGlazingRatio.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

Use a different multiplier per each added number
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

GeometryHash to return string (not double)
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Separate GeometryHash and HashArray in 2 files
  Geometry_Engine/Query/GeometryHash.cs
  Geometry_Engine/Query/HashArray.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Solution with limit near `long`
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Update GeometryHash.cs
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Allowed NaN values
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

GeometryHash: simplified implementation
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Better description for translationfactors
  Geometry_Engine/Query/HashArray.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Added translation factor for vector
  Geometry_Engine/Query/HashArray.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Store static HashAlgorithm
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Update Versioning_71.json
  Geometry_Engine/Versioning_71.json
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Delete HasValue.cs
  Geometry_Engine/Query/HasValue.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Update Geometry_Engine/Query/GeometryHash.cs
  Geometry_Engine/Query/GeometryHash.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh
