Repository BHoM/BHoM_Engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd, @IsakNaslundBh, @alelom, @tg359, @jamesramsden-bh, @pawelbaran, @peterjamesnugent, @kayleighhoude, @travispotterBH

.github/CODEOWNERS:

# BHoM_Engine REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler @FraserGreenroyd


# project owners 

#NEED OWNER: /Acoustic_Engine
/Analytical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
#NEED OWNER: /Architecture_Engine
/BHoM_Engine @adecler @al-fisher @FraserGreenroyd
/Data_Engine @adecler @IsakNaslundBh
/Diffing_Engine @alelom @al-fisher @adecler
/Environment_Engine @FraserGreenroyd @tg359 @jamesramsden-bh
/Geometry_Engine @pawelbaran @al-fisher @IsakNaslundBh
/Ground_Engine @peterjamesnugent @IsakNaslundBh @FraserGreenroyd
/Humans_Engine @al-fisher @rwemay
/Library_Engine @adecler @IsakNaslundBh
/Matter_Engine @al-fisher @IsakNaslundBh @pawelbaran
/MEP_Engine @kayleighhoude @FraserGreenroyd @travispotterBH
/Physical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
/Planning_Engine @rwemay @al-fisher
/Programming_Engine @adecler @FraserGreenroyd @al-fisher
/Reflection_Engine @adecler @FraserGreenroyd @al-fisher
/Results_Engine @IsakNaslundBh @FraserGreenroyd @rwemay
#NEED OWNER: /SVG_Engine
/Serialiser_Engine @adecler @FraserGreenroyd
/Settings_Engine @FraserGreenroyd @adecler
/Spatial_Engine @al-fisher @IsakNaslundBh @pawelbaran
#NEED OWNER: /Speech_Engine
/Structure_Engine @IsakNaslundBh @rwemay
/Versioning_Engine @adecler @FraserGreenroyd @IsakNaslundBh

Upgrade AssemblyFileVersion to 7.1.0.0
  .ci/code/Engine_Test/Engine_Test.csproj
  .ci/code/Serialiser_Test/Serialiser_Test.csproj
  .ci/unit-tests/Base_Engine_Tests/Base_Engine_Tests.csproj
  .ci/unit-tests/Serialiser_Engine_Tests/Serialiser_Engine_Tests.csproj
  .ci/unit-tests/Structure_Engine_Tests/Structure_Engine_Tests.csproj
  Acoustic_Engine/Acoustic_Engine.csproj
  Analytical_Engine/Analytical_Engine.csproj
  Architecture_Engine/Architecture_Engine.csproj
  BHoM_Engine/BHoM_Engine.csproj
  Data_Engine/Data_Engine.csproj
  Diffing_Engine/Diffing_Engine.csproj
  Environment_Engine/Environment_Engine.csproj
  Facade_Engine/Facade_Engine.csproj
  Geometry_Engine/Geometry_Engine.csproj
  Graphics_Engine/Graphics_Engine.csproj
  Ground_Engine/Ground_Engine.csproj
  Humans_Engine/Humans_Engine.csproj
  Library_Engine/Library_Engine.csproj
  Lighting_Engine/Lighting_Engine.csproj
  MEP_Engine/MEP_Engine.csproj
  Matter_Engine/Matter_Engine.csproj
  Physical_Engine/Physical_Engine.csproj
  Planning_Engine/Planning_Engine.csproj
  Programming_Engine/Programming_Engine.csproj
  Reflection_Engine/Reflection_Engine.csproj
  Results_Engine/Results_Engine.csproj
  Security_Engine/Security_Engine.csproj
  Serialiser_Engine/Serialiser_Engine.csproj
  Settings_Engine/Settings_Engine.csproj
  Spatial_Engine/Spatial_Engine.csproj
  Structure_Engine/Structure_Engine.csproj
  Versioning_Engine/Versioning_Engine.csproj
Owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd, @IsakNaslundBh, @alelom, @tg359, @jamesramsden-bh, @pawelbaran, @peterjamesnugent, @kayleighhoude, @travispotterBH

Update documentation links
  Geometry_Engine/Query/IsVertical.cs
  Structure_Engine/Query/IsVertical.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh, @rwemay

Updates to Shear reference links
  Structure_Engine/Compute/ShearAreaPolyline.cs
  Structure_Engine/Query/ShearArea.cs
Owners: @IsakNaslundBh, @rwemay

Checks if property is null
  Structure_Engine/Query/AnalyticalBars.cs
Owners: @IsakNaslundBh, @rwemay

Edited error message
  Structure_Engine/Query/AnalyticalBars.cs
Owners: @IsakNaslundBh, @rwemay

Moved the check up in the code
  Structure_Engine/Query/AnalyticalBars.cs
Owners: @IsakNaslundBh, @rwemay

redundant calls to clone removed from geometry_engine
  Geometry_Engine/Compute/BooleanDifference.cs
  Geometry_Engine/Compute/BooleanIntersection.cs
  Geometry_Engine/Compute/BooleanUnion.cs
  Geometry_Engine/Compute/ClusterCollinear.cs
  Geometry_Engine/Compute/DistributeOutlines.cs
  Geometry_Engine/Compute/SortAlongCurve.cs
  Geometry_Engine/Compute/SortCollinear.cs
  Geometry_Engine/Compute/WetBlanketInterpretation.cs
  Geometry_Engine/Convert/NurbsForm.cs
  Geometry_Engine/Create/Plane.cs
  Geometry_Engine/Modify/CollapseToPolyline.cs
  Geometry_Engine/Modify/Mirror.cs
  Geometry_Engine/Modify/Normalise.cs
  Geometry_Engine/Modify/Project.cs
  Geometry_Engine/Modify/ProjectAlong.cs
  Geometry_Engine/Modify/SetGeometry.cs
  Geometry_Engine/Modify/SortCurves.cs
  Geometry_Engine/Modify/SplitAtPoints.cs
  Geometry_Engine/Modify/Transform.cs
  Geometry_Engine/Modify/Translate.cs
  Geometry_Engine/Query/Area.cs
  Geometry_Engine/Query/Bounds.cs
  Geometry_Engine/Query/ExternalEdges.cs
  Geometry_Engine/Query/InternalEdges.cs
  Geometry_Engine/Query/IsClockwise.cs
  Geometry_Engine/Query/IsCoplanar.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

support methods for legacy attributes removed
  Reflection_Engine/Query/IsReleased.cs
  Reflection_Engine/Query/PropertyAbbreviation.cs
Owners: @adecler, @FraserGreenroyd, @al-fisher

versioning added
  Reflection_Engine/Versioning_71.json
Owners: @adecler, @FraserGreenroyd, @al-fisher

Update Structure_Engine/Query/AnalyticalBars.cs
  Structure_Engine/Query/AnalyticalBars.cs
Owners: @IsakNaslundBh, @rwemay

PropertyAbbreviation method brought back
  Reflection_Engine/Query/PropertyAbbreviation.cs
  Reflection_Engine/Versioning_71.json
Owners: @adecler, @FraserGreenroyd, @al-fisher

fix following the comments by @Tom-Kingstone
  Geometry_Engine/Query/IsCoplanar.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

made methods into extension methods
  Geometry_Engine/Convert/Polyline.cs
  Geometry_Engine/Query/Integration.cs
  Geometry_Engine/Query/SliceAt.cs
Owners: @pawelbaran, @al-fisher, @IsakNaslundBh

Rename StartNode/EndNode to Start/End
  Analytical_Engine/Convert/Graph/ToRelation.cs
  Analytical_Engine/Modify/SetElements0D.cs
  Analytical_Engine/Modify/SetGeometry.cs
  Analytical_Engine/Query/Elements0D.cs
  Analytical_Engine/Query/Geometry.cs
  Structure_Engine/Compute/MapTaperedProfile.cs
  Structure_Engine/Create/Elements/Bar.cs
  Structure_Engine/Create/Loads/BarVaryingDistributedLoad/BarVaryingDistributedLoadDistanceBothEnds.cs
  Structure_Engine/Modify/Flip.cs
  Structure_Engine/Modify/SetElements0D.cs
  Structure_Engine/Modify/Transform.cs
  Structure_Engine/Objects/EqualityComparers/BarEndNodesDistanceComparer.cs
  Structure_Engine/Query/BarSectionTranformation.cs
  Structure_Engine/Query/Centreline.cs
  Structure_Engine/Query/CoordinateSystem.cs
  Structure_Engine/Query/DeformedShape.cs
  Structure_Engine/Query/DistributedPoints.cs
  Structure_Engine/Query/IsNull.cs
  Structure_Engine/Query/OppositeNode.cs
  Structure_Engine/Query/PlotBarForce.cs
  Structure_Engine/Query/Tangent.cs
  Structure_Engine/Query/Visualize.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd

Update Structure_Engine/Query/IsNull.cs
  Structure_Engine/Query/IsNull.cs
Owners: @IsakNaslundBh, @rwemay

Fix code compliance for Structure_Engine
  Structure_Engine/Query/DeformedShape.cs
  Structure_Engine/Query/PlotBarForce.cs
Owners: @IsakNaslundBh, @rwemay

Fix documentation compliance for Structure_Engine
  Structure_Engine/Compute/MapTaperedProfile.cs
  Structure_Engine/Create/Loads/BarVaryingDistributedLoad/BarVaryingDistributedLoadDistanceBothEnds.cs
Owners: @IsakNaslundBh, @rwemay

fix bypass of constructor
  Analytical_Engine/Query/Geometry.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd

Analytical_Engine: Align with Graph namespace elevation
  Analytical_Engine/Convert/Graph/ToDataVizObjects.cs
  Analytical_Engine/Convert/Graph/ToDotFormat.cs
  Analytical_Engine/Convert/Graph/ToRelation.cs
  Analytical_Engine/Create/Graph/Graph.cs
  Analytical_Engine/Create/Graph/Relation.cs
  Analytical_Engine/Modify/Graph/ProjectGraph.cs
  Analytical_Engine/Modify/Graph/RelationCurves.cs
  Analytical_Engine/Modify/Graph/RemoveEntity.cs
  Analytical_Engine/Modify/Graph/RemoveIsolatedEntities.cs
  Analytical_Engine/Modify/Graph/Reverse.cs
  Analytical_Engine/Modify/Graph/UniqueEntities.cs
  Analytical_Engine/Modify/Graph/UniqueEntityNames.cs
  Analytical_Engine/Query/Geometry.cs
  Analytical_Engine/Query/Graph/AStarShortestPath.cs
  Analytical_Engine/Query/Graph/Adjacency.cs
  Analytical_Engine/Query/Graph/Depth.cs
  Analytical_Engine/Query/Graph/Destinations.cs
  Analytical_Engine/Query/Graph/DijkstraShortestPath.cs
  Analytical_Engine/Query/Graph/Entities.cs
  Analytical_Engine/Query/Graph/Entity.cs
  Analytical_Engine/Query/Graph/EntityNeighbourhood.cs
  Analytical_Engine/Query/Graph/FilterEntities.cs
  Analytical_Engine/Query/Graph/FilterRelations.cs
  Analytical_Engine/Query/Graph/Incoming.cs
  Analytical_Engine/Query/Graph/IsolatedEntities.cs
  Analytical_Engine/Query/Graph/NotSinks.cs
  Analytical_Engine/Query/Graph/Relation.cs
  Analytical_Engine/Query/Graph/RelationArrow.cs
  Analytical_Engine/Query/Graph/RelationLength.cs
  Analytical_Engine/Query/Graph/Sinks.cs
  Analytical_Engine/Query/Graph/Sources.cs
  Analytical_Engine/Query/Graph/SubGraphs.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd

Data_Engine: Remove redundant filter query
  Data_Engine/Compute/FilterData.cs
  Data_Engine/Query/Filter.cs
Owners: @adecler, @IsakNaslundBh

Structure_Engine: Align with removal of deprecated reinforcement objects
  Structure_Engine/Create/Reinforcement/Reinforcement.cs
  Structure_Engine/Query/IsLongitudinal.cs
  Structure_Engine/Query/IsNull.cs
  Structure_Engine/Query/TieDiameter.cs
  Structure_Engine/Versioning_71.json
Owners: @IsakNaslundBh, @rwemay

Strucutre_Engine: Align to PointForce renamed to PointLoad
  Structure_Engine/Create/Loads/Load.cs
Owners: @IsakNaslundBh, @rwemay

Diffing_Engine: Align to changes from Id to ID
  Diffing_Engine/Compute/DiffWithCustomIds.cs
  Diffing_Engine/Convert/TryParseObjectToGuid.cs
  Diffing_Engine/Create/Delta.cs
Owners: @alelom, @al-fisher, @adecler

Fix documentation compliance for Diffing_Engine
  Diffing_Engine/Create/Delta.cs
Owners: @alelom, @al-fisher, @adecler

Resolve versioning for Structure Engine
  Structure_Engine/Versioning_71.json
Owners: @IsakNaslundBh, @rwemay

Spatial_Engine: Remove unnecessary area methods
  Spatial_Engine/Query/Area.cs
  Spatial_Engine/Versioning_71.json
Owners: @al-fisher, @IsakNaslundBh, @pawelbaran

removed deprecated NewElementXD methods, and moved NewInternalElement2D methods to Query class and folders
  Analytical_Engine/Query/IElement2D/NewInternalElement2D.cs
  Geometry_Engine/Query/IElement2D/NewInternalElement2D.cs
  Physical_Engine/Create/IElement/IElement1D/NewElement1D.cs
  Physical_Engine/Create/IElement/IElement2D/NewInternalElement2D.cs
  Physical_Engine/Query/IElement/IElement2D/NewInternalElement2D.cs
  Spatial_Engine/Create/NewElement0D.cs
  Spatial_Engine/Create/NewElement1D.cs
  Spatial_Engine/Query/NewInternalElement2D.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd, @pawelbaran

added versioning for environment engine
  Environment_Engine/Versioning71.json
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

make compile work
  Environment_Engine/Create/IElement1D/NewElement1D.cs
  Environment_Engine/Create/IElement2D/NewInternalElement2D.cs
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

versioning for analytical, geometry and physical engines
  Analytical_Engine/Query/IElement2D/NewInternalElement2D.cs
  Geometry_Engine/Query/IElement2D/NewInternalElement2D.cs
  Physical_Engine/Query/IElement/IElement2D/NewInternalElement2D.cs
  Physical_Engine/Versioning71.json
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd, @pawelbaran

added versioning for spatial engine
  Spatial_Engine/Query/NewInternalElement2D.cs
  Spatial_Engine/Versioning71.json
Owners: @al-fisher, @IsakNaslundBh, @pawelbaran

apparently I forgot which version we're on :facepalm:
  Analytical_Engine/Query/IElement2D/NewInternalElement2D.cs
  Geometry_Engine/Query/IElement2D/NewInternalElement2D.cs
  Physical_Engine/Query/IElement/IElement2D/NewInternalElement2D.cs
  Spatial_Engine/Query/NewInternalElement2D.cs
Owners: @al-fisher, @rwemay, @IsakNaslundBh, @FraserGreenroyd, @pawelbaran

fix versioning file names
  Environment_Engine/Versioning_71.json
  Physical_Engine/Versioning_71.json
  Spatial_Engine/Query/NewInternalElement2D.cs
  Spatial_Engine/Versioning71.json
  Spatial_Engine/Versioning_71.json
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh, @al-fisher, @rwemay, @IsakNaslundBh, @pawelbaran

added versioning for environment create methods
  Environment_Engine/Versioning_71.json
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

I forgot a single full stop.
  Environment_Engine/Versioning_71.json
Owners: @FraserGreenroyd, @tg359, @jamesramsden-bh

removed methods marked ToBeRemoved, excluding one
  Diffing_Engine/Query/ListModifiedProperties.cs
  Environment_Engine/Query/CleanSpace.cs
  Environment_Engine/Query/FilterPanels.cs
  Geometry_Engine/Query/Centre.cs
  Geometry_Engine/Query/Radius.cs
  Structure_Engine/Create/Elements/Panel.cs
  Structure_Engine/Create/Loads/AreaUniformlyDistributedLoad.cs
  Structure_Engine/Create/Loads/BarUniformTemperatureLoad.cs
  Structure_Engine/Create/Loads/ContourLoad.cs
  Structure_Engine/Create/Requests/FilterRequest.cs
Owners: @alelom, @al-fisher, @adecler, @FraserGreenroyd, @tg359, @jamesramsden-bh, @pawelbaran, @IsakNaslundBh, @rwemay

forgot to remove this when removing NewElement1Ds
  Architecture_Engine/Query/NewElement1D.cs
  Architecture_Engine/Versioning_71.json
Owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd

versioning for deleted methods
  Diffing_Engine/Versioning_71.json
  Environment_Engine/Versioning_71.json
  Geometry_Engine/Versioning_71.json
  Structure_Engine/Versioning_71.json
Owners: @alelom, @al-fisher, @adecler, @FraserGreenroyd, @tg359, @jamesramsden-bh, @pawelbaran, @IsakNaslundBh, @rwemay

Removed last method marked ToBeRemoved, and did versioning for it
  Structure_Engine/Create/Loads/GeometricalLineLoad.cs
  Structure_Engine/Versioning_71.json
Owners: @IsakNaslundBh, @rwemay

fix versioning for architecture NewElement1D
  Architecture_Engine/Versioning_71.json
Owners: @al-fisher, @rwemay, @adecler, @FraserGreenroyd
